gtk-2.0/*
lazygit/
vimgolf/
pgcli/
mpv.net/fonts
mpv.net/scripts/uosc
mpv.net/subtitles
mpv.net/history.txt
wezterm/backdrops
nvim/lazy-lock.json
*.json
*-archive.*/
*.bak.*
*.bak
AutoHotKey/mouse-control.autohotkey
yasb/yasb.log
*.yaml
mpv.net/mpvHistory.log
Modules
conda/
whkdrc
sin-cy-dotfiles
mpv.net/settings.xml
