<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>1</MenuUpdateVersion>
    <Volume>120</Volume>
    <RecentFiles>
        <string>https://www.youtube.com/watch?v=B-WtpB0PuG4|DE Zoomcamp 3.3.1 - BigQuery Machine Learning</string>
        <string>https://www.youtube.com/watch?v=eduHi1inM4s|DE Zoomcamp 3.2.2 - Internals of Big Query</string>
        <string>https://www.youtube.com/watch?v=k81mLJVX08w|DE Zoomcamp 3.2.1 - BigQuery Best Practices</string>
        <string>https://www.youtube.com/watch?v=-CqXf7vhhDs|DE Zoomcamp 3.1.2 - Partioning and Clustering</string>
        <string>https://www.youtube.com/watch?v=jrHljAoD6nM|DE Zoomcamp 3.1.1 - Data Warehouse and BigQuery</string>
        <string>https://www.youtube.com/watch?v=-zpVha7bw5A|Data Engineering Zoomcamp 2023</string>
        <string>https://www.youtube.com/watch?v=jds1J-7uGN8|The ASIAN Jamal Crawford... | Kam vs Koda</string>
        <string>https://www.youtube.com/watch?v=Q2zxl6dlEYo|I Paid $200 for Alpha Male Coaching</string>
        <string>https://www.youtube.com/watch?v=q3NEkmLEMxc&amp;t=10s|They Found A Ridiculous Secret Strategy</string>
        <string>https://www.youtube.com/watch?v=nKqjjLJ7YXs|DE Zoomcamp 2.2.6 - ETL Pipelines in Kestra: Google Cloud Platform</string>
        <string>https://www.youtube.com/watch?v=DoaZ5JWEkH0|DE Zoomcamp 2.2.7 - Manage Schedules and Backfills with BigQuery in Kestra</string>
        <string>https://www.youtube.com/watch?v=mmjUlFIaNLE|Firefox is hard to love</string>
        <string>https://www.youtube.com/watch?v=mNFXt5ofQk0|Refresh Items for FREE trick - Don't show to anyone</string>
        <string>https://www.youtube.com/watch?v=l-wC71tI3co|DE Zoomcamp 2.2.9 - Deploy Workflows to the Cloud with Git in Kestra</string>
        <string>https://www.youtube.com/watch?v=qwA7-hm7d2o|Install Kestra on Google Cloud in 15 minutes | How-to Guide</string>
    </RecentFiles>
    <WindowLocation>
        <X>0</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>-969</X>
        <Y>523</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1160</Width>
        <Height>652</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>Subtitle:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>